{% extends 'AcmePortfolioBundle::layout.html.twig' %}

{% block title %}
    Index Meytel Portfolio Vic
{% endblock %}

{% block body %}
    <!-- Extiendo de ese layout -->
    <h1>Index</h1>
{% endblock %}